#lightRed, #lightYellow, #lightGreen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: black;
    margin: 10px auto;
    border: 2px solid black;
  }
  body{
    padding-top: 60px;
  }
  .rectangle{
    padding-top: 14px;
    width: 200px;
    height: 514px;
    background-color: dimgray;
    border: 5px solid black;
    border-radius: 50px;
    margin: 0 auto;
  }